*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #672A70;
}

.container .card{
    width: 430px;
    height: 65vh;
    border-radius: 20px;
    background: turquoise;
    border-top: #fff;
    box-shadow: black;
}

.flex-box{
    display: grid;
    place-content: center;
    min-height: 100vh;
}

h2{
    position: relative;
    top: 20%; 
    text-align: center;
    padding-bottom: 39px;
    font-family:sans-serif;
    color: antiquewhite;
}

.input input{
    width: 95%;
    height: 42px;
    margin: 12px;
    outline: none;
    border: none;
    font-weight: bold;
    text-indent: 18px;
    border-radius: 20px;
    padding: 3px 2px;
    transition: transform 1s;
}

.input input:hover{
    transform: perspective(200px) rotateY(10deg);
}
::placeholder{
    font-weight: bold;
    text-indent: 30px;
    padding: 3px 5px;
    color: #000; 
}

button{
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: bold;
    padding: 14px 65px;
    color: crimson;
    margin: 1px 90px;
    font-size: 15px;
    border-radius: 30px;
    box-shadow: #000;
    background-image: linear-gradient(#999, #444);
    transition: transform 1s;
}

button:hover{
    transform: perspective(200px) rotateY(30deg);
}
p{
    font-weight: bold;
    padding: 3px 15px;
    color: antiquewhite;
    text-align: center;
}
