
/*style the background of body*/
body{
    background-color: bisque;
}
/*style h2*/
h2{
    position: relative;
    top: 10%; 
    text-align: center;
    padding-bottom: 10px;
    font-family:sans-serif;
    color: #000;
}
/*style the input div*/
.input input{
    width: 95%;
    height: 42px;
    margin: 5px;
    outline: none;
    border: none;
    font-weight: bold;
    text-indent: 18px;
    border-radius: 20px;
    padding: 3px 2px;
    transition: transform 1s;
    display: flex;
    
}
/*style the button*/
button{
    
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: bold;
    padding: 14px 65px;
    color: crimson;
    margin: 20px 90px;
    font-size: 15px;
    border-radius: 30px;
    box-shadow: #672A70;
    background-color: #672A70;
    transition: transform 1s;
} 
/*position the input area centrally*/
.input{
    display: grid;
    place-content: center;
}

p{
    font-weight: bold;
    padding: 1px 0.5px;
    color:#000;
    text-align: center;
}